:root {
	--main-bg: #ffffff; /* background */
	--main: #4d4d4c; /* foreground */
	--table-even: #efefef; /* current line */
	--table-pbest: #c0cf80; /* green (less significant) */
	--table-cbest: #bf9bd6; /* purple (less significant) */
	--anchor: #4271ae; /* blue */
	--caution: #eab700; /* yellow */
	--table-ai: #8e908c; /* comment */
	--pbest: #718c00; /* green */
	--cbest: #8959a8; /* purple */
	--selected: #f5871f; /* orange */
}
