:root {
	--main-bg: #1d1f21; /* background */
	--main: #c5c8c6; /* foreground */
	--table-even: #282a2e; /* current line */
	--table-pbest: #757c36; /* green (less significant) */
	--table-cbest: #72507c; /* purple (less significant) */
	--anchor: #81a2be; /* blue */
	--caution: #f0c674; /* yellow */
	--table-ai: #969896; /* comment */
	--pbest: #b5bd68; /* green */
	--cbest: #b294bb; /* purple */
	--selected: #de935f; /* orange */
}
